.color-picker-wrapper {
    display: none;
    position: absolute;
    box-sizing: content-box;
}

.color-picker {
    display: inline-block;
    width: 300px;
    /*height: 200px;*/
    box-sizing: content-box;
    background: hsla(0, 0%, 31%, 0.11);
    box-shadow: inset 0 0 0 1px rgba(58, 60, 70, .1);
    backdrop-filter: blur(8px);
    border-radius: 4px;
}

.color-picker-panel {
    position: relative;
    width: calc(100% - 20px);
    height: 150px;
    margin: 10px 10px 0;
    box-sizing: content-box;
    overflow: hidden;
}

.color-picker-panel canvas {
    width: 100%;
    height: 100%;
}

.color-picker-panel .move {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
}

.color-picker-cs {
    background: linear-gradient(to right,
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%)
    );
}

.color-picker-cs, .color-picker-os {
    display: inline-block;
    position: relative;
    width: calc(100% - 20px);
    height: 20px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
    user-select: none;
}

.color-picker-cs .color-picker-cs-dot,
.color-picker-os .color-picker-os-dot {
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #eeeeee;
    user-select: none;
    z-index: 1;
    transition: left ease;
}

.color-picker-cs .color-picker-cs-dot::before,
.color-picker-os .color-picker-os-dot::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -1px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
    z-index: 0;
    user-select: none;
}

.color-picker-os {
    margin-top: 0;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.4) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0.4)),
    linear-gradient(45deg, rgba(0, 0, 0, 0.4) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0.4));
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.color-picker-os::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    border-radius: inherit;
}
